body {
  padding-top: 50px;
  /*background-image: url("http://i.imgur.com/zMT5t6u.jpg");
  background-repeat: repeat;*/

}

#autocompleteResult li {
  list-style: none;
}

.resultBeer {
  background-color: #eeeeee;
}

.resultBeer:hover {
  background-color: #ddcc00;
  cursor: pointer;
}

.--hidden {
  display: none;
}

.large-thumbnail {
  min-height: 100%;
  min-width: 100%;
  background-color: #eeeeee;
}

.large-thumbnail img {
  border: 1px solid #cccccc;
  border-radius: 5px;
  max-width: 200px;
  max-height: 175px;
}

.brew-thumbnail:hover {
    background: #ddd;
    text-decoration: inherit;
}

.brew-image {
  min-height: 175px;
  background: transparent;
}

.show-brew-image {
  max-height: 300px;
  max-width: 450px;
}

.show-brew-image-container {
  width: 25%;
}

/* targeting all desktops/laptops and tablets */
@media screen and (min-device-width: 768px) {
  .brew-thumbnail {
    max-height: 300px;
    min-height: 300px;
  }
}